body {
  background-color: #87b5b5;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #4aa3a3;
  padding: 0.25rem;
  border: 1px solid black;
}

span {
  margin-left: 0.25rem;
  font-weight: 900;
}

.tools {
  display: flex;
  align-items: center;
}

textarea {
  background-color: #c0d8d8;
  border: 1px solid black;
  width: 100%;
  padding: 0.25rem;
}

.previewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 1.5rem;
}

#preview {
  overflow: auto;
  border: 1px solid black;
  width: 100%;
  padding: 0.25rem;
  background-color: #c0d8d8;
}
